@font-face {
    font-family: HeaderFont;
    src: url('./Header.ttf');
}

.header {
    width: 100%;
    position: fixed;
    top: 0px;
}

#headertext {
    font-family: 'HeaderFont';
    font-size: 4em;
    color: teal;

    padding: 18px;

    display: block;
    float: left;
    width: 40%;
    height: 50px;
}

#sortmenu {
    text-align: right;

    padding: 10px;
    
    display: block;
    float: left;
    width: 60%;
    height: 50px;
}

@media screen and (max-width: 600px) {
    #headertext, #sortmenu {
        width: 100%;
        text-align: center;
    }
}