.thumbnailer {
    height: 200px;
    overflow: hidden;
}

.thumbnailer img {
    position: fixed;
    top: -50%;
}

.ui.card {
    height: 350px;
}

@media screen and (max-width: 500px) {
    .ui.card {
        height: auto;
    }
}

.textcutoff {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contenthider {
    display: none;
}