.thumbnailer {
    height: 200px;
    overflow: hidden;
}

.thumbnailer img {
    position: fixed;
    top: -50%;
}

.ui.card {
    height: 350px;
}

.textcutoff {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}