.gridwrapper {
    position: relative;
    top: 105px;
    padding: 5px 10px;
    width: 100%;
    min-width: 462px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gridcontent {
    width: 24%;
    margin: 5px;
    min-width: 220px;
    transition: all 0.5s;
}

@media screen and (max-width: 500px) {
    .gridcontent {
        width: 100%;
    }
    .gridwrapper{
        position: relative;
        top: 158px;
    }
}