.overflowingtextblock {
    flex-basis: 50px;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnailer {
    height: 250px;
    overflow: hidden;
}

.thumbnailer img {
    position: absolute;
    top: -50%;
}

.contenthider {
    display:none;
    transition: all 1s;
}