.gridwrapper {
    position: relative;
    top: 105px;
    padding: 5px 10px;
    width: 100%;
    min-width: 400px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transition: all 0.5s ease;
}

.gridcontent {
    width: 24%;
    margin: 5px;
    min-width: 220px;
}

@media screen and (max-width: 766px) {
    .gridwrapper {
        top: 301px;
    }
}

@media screen and (max-width: 560px) {
    .gridcontent {
        width: 100%;
    }
    .gridwrapper {
        top: 361px;
    }
}