.sortmenu {
    position: relative;
    top: 50px;
    margin: 10px auto;
    padding: 0px 10px;
    width: 100%;
    min-width: 450px;
}

.ui.menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

@media screen and (max-width: 500px) {
    .sortmenu {
        top: 100px;
    }
}