.sortmenu {
    margin: 10px auto;
    padding: 10px 10px;
    width: 100%;
    min-width: 440px;
}
.sortmenu .ui.menu {
    box-shadow: none;
    -webkit-box-shadow: none;
    min-width: 440px;
}