@font-face {
    font-family: HeaderFont;
    src: url('./fonts/Header.ttf');
}

body {
    min-width: 462px;
}

.mainbody {
    width: 100%;
    min-width: 440px;
    height: 100%;
    margin: 0px;
}

.floattopcentre {
    width: 100%;
    min-width: 462px;
    position: fixed;
    top: 0px;
    background: #fff;
}

.headerleft {
    font-family: 'HeaderFont';
    font-size: 4em;
    color: #00B5AD;

    display: block;
    float: left;
    width: 50%;
    margin-bottom: 5px;
    height: 50px;
    padding: 15px 20px;
}

.headerright {
    text-align: right;

    display: block;
    float: left;
    width: 50%;
    margin-bottom: 5px;
    height: 50px;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .headerleft, .headerright {
        width: 100%;
        text-align: center;
    }
}