@font-face {
    font-family: HeaderFont;
    src: url('./fonts/Header.ttf');
}

.mainbody {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.headerwrapper {
    width: 100%;
    position: fixed;
    top: 0px;
}

.headerleft {
    font-family: 'HeaderFont';
    font-size: 4em;
    color: #00B5AD;

    display: block;
    float: left;
    width: 40%;
    height: 50px;
    padding: 15px 20px;
}

.headerright {
    text-align: right;

    display: block;
    float: left;
    width: 60%;
    height: 50px;
    padding: 10px;
}

.sortmenu {
    position: relative;
    top: 50px;
    padding: 5px;
    height: 50px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .headerleft, .headerright {
        width: 100%;
        text-align: center;
    }

    .sortmenu {
        top: 100px;
    }
}